<div style="text-align: center; padding: 10px; background-color: #f1f1f1;">
      <div class="icons">
      <a class="mail" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
    </div>
      <div class="icons">
      <a class="twitter" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
    </div>
      <div class="icons">
      <a class="medium" href="https://medium.com/{{ site.medium }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-medium-m"></i></a>
    </div>
    <div class="icons">
      <a class="github" href="http://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
    </div>
    <div class="icons">
      <a class="mail" href="http://vimeo.com/{{ site.vimeo }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-vimeo"></i></a>
    </div>

    <div class="icons">
      <a class="twitter" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
    </div>
     <form style="padding:15px 15px 20px 15px;text-align:center;" action="https://batjo.us19.list-manage.com/subscribe/post?u=65ed7ff3e6e5e4ae12a2d42ac&amp;id=bb8f9ca1c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p style="padding-bottom: 10px;">{% if page.language == 'en' %}Sign up to the newsletter {% else if page.language == 'it' %}Iscriviti alla newsletter{% endif%}
      </p>
      <span>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" style="width:140px; height: 30px;" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65ed7ff3e6e5e4ae12a2d42ac_bb8f9ca1c8" tabindex="-1" value=""></div>
             <input type="hidden" value="1" name="embed"/></span>
            <button type="submit" class="newsletter"><i class="fas fa-check-circle" ></i></button> 
        </form>  
</div>